<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/display/style.css" type="text/css"/>
    <script src="/static/display/main.js"></script>
    <title>{% block title %}Portfolio{% endblock %}</title>
</head>

<body>


    <div id="contents"  onscroll="componentsScrolled('{{ user.get_username }}">

        <div id="sidebar">
            {% block sidebar %}
        {% if user.is_authenticated %}
        <p align="right">Authenticated as <b><a href="portfolio/signout">{{ user.get_username }}</a></b>.</p>
        {% endif %}
            {% endblock %}
        </div>
        <nav class="floating-menu">
            <h3>Menu</h3>
            {% if user.is_authenticated %}
            <a href="/portfolio/signout/">Sign out</a>
            {% else %}
            <a href="/portfolio/signin/">Sign in</a>
            <a href="/portfolio/signup/">Sign up</a>
            {% endif %}
            <a href="/portfolio/post_view/">View Posts</a>
        </nav>

        <div class="main">
        {% block contents %}{% endblock %}
        </div>
    </div>
</body>
</html>