{% extends "base.html" %}

{% block title %}Posts{% endblock %}

{% block contents %}
<h1>The Posts</h1>

<ul class="news"  id="posts">
    {% for p in post %}
    <li id="{{p.id}}">
    <h2> {{ p.title }}</h2>
    {% if p.photo %}
    <img src="{{ p.photo.url }}">
    {% endif %}
    <p> {{ p.content}}</p>
    <p><b> {{ p.author.get_username }}</b> on {{ p.date|date:"Y-m-d, H:i:s" }}</p>
     {% if user.is_authenticated %}
        {% ifequal user p.author %}
        <form action="/portfolio/post_delete/" method="post" class="message" onsubmit="return confirm('Do you really want to delete post {{p.title}}?');">
             {% csrf_token %}
             <input type="hidden" name="post_id" value="{{p.id}}">
             <input type="submit" value="Delete">
         </form>
        {% endifequal %}
     {% endif %}
    </li>
    {% endfor %}
    </ul>
    <!--p id="demo"></p-->
    <button type="button" id="loadPostsButton" onclick="loadPosts('{{ user.get_username }}')">Load More</button>

{% endblock %}