<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Post</title>
    {% load static %}
        <link rel="stylesheet" href="{% static "display/style.css" %}" type="text/css">
</head>
<body>

<div id="contents">
    <div class="main">
         {% if user.is_authenticated %}
            <p align="right">Authenticated as <b>{{ user.get_username }}</b>.</p>
{% endif %}
    <h1>New Post</h1>
    <form action="/portfolio/post_new/" method="post" class="message" enctype="multipart/form-data">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
</form>
    </div></div>
</body>
</html>