<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    {% load static %}
        <link rel="stylesheet" href="{% static "display/style.css" %}" type="text/css">
</head>
<body>
<div id="contents"><div class="main">
    {% if user.is_authenticated %}
    <p align="right">Authenticated as <b><a href="portfolio/signout">{{ user.get_username }}</a></b>.</p>
{% endif %}
<h1>Sign up</h1>
    <form action="/portfolio/signup/" method="post" class="message">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
    </form>
    </div></div>
</body>
</html>